{% load static %}
<h1>static image</h1>
<img src = "{% static 'staticFiles/images/peng.jpg' %}" alt = "peng.jpg">
<img src = "{% static 'peng.jpg' %}" alt = "peng.jpg">
<hr><br><hr>

<ul>
    {% for image in images %}
    {{ image.title }}
    <img src="{{ image.image.url}}" alt="{{ image.image }}">{{image.title}}
    {% endfor %}
</ul>
    
<form action='{% url "staticFiles:new" %}' enctype="multipart/form-data" method='POST'>
    {% csrf_token %}
    <input tyoe='text' name='title' required>
    <input tyoe='text' name='content' required>
    <input type = 'file' name='image' accept="image/*">
    <input type='submit'>
</form>